<div class="card">
  <div class="row no-gutters">
    <div class="col-md-6">
      <div class="card-block">
        <br>
        <p class="card-text">E-HealthDashboard is a web application determined to provide easy and <b>realtime health tracking</b> for
          end users, normally patients and health-care providers like Doctors and Nurses. Basic vital signs of patients can be visualized
          using various charts easily. Data are updated real time in the charts. So, whenever a new data is added those are reflected instantly
          in the application.
        </p>
        <p>
          User accounts can be managed by the admins. Admins can also visualize the health details of patients. One most outstanding feature is the
          <b>drill down feature</b> from province to district.
        </p>
      </div>
        </div>
    <div class="col-md-6">
      <div class="card-img-bottom">
      </div>
    </div>
  </div>
</div>

  <!--Section: Features v.2-->
  <section class="text-center">

    <!--Section heading-->
    <h1 class="py-5 font-weight-bold">Why use E-healthDashboard?</h1>
    <!--Section description-->
    <p class="px-5 mb-5 pb-3 lead grey-text">Monitor your health yourself.</p>

    <!--Grid row-->
    <div class="row text-left">

      <!--Grid column-->
      <div class="col-md-4 mb-4">
        <div class="col-1 col-md-2 float-left">
          <i class="fa fa-bullhorn blue-text fa-2x"></i>
        </div>
        <div class="col-10 col-md-9 col-lg-10 float-right">
          <h4 class="font-weight-bold">Analytics</h4>
          <p class="grey-text">Healthcare data can be visualized in various charts.
            Patients can track their details. Doctors and Nurses can follow their patients. Admins has the privilege
          to access the overall data and visualize data in various dimensions like high blood pressure, low blood sugar, and so on.</p>
        </div>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-md-4 mb-4">
        <div class="col-1 col-md-2 float-left">
          <i class="fa fa-cogs pink-text fa-2x"></i>
        </div>
        <div class="col-10 col-md-9 col-lg-10 float-right">
          <h4 class="font-weight-bold">Secure and Limted Access</h4>
          <p class="grey-text">
            The system does not allow every one to sign up for the system. Users are created by the Admins. Nurses also have the privilege
            to add/edit/delete users. This means only members approved by admins are allowed to access the system.
          </p>
        </div>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-md-4 mb-4">
        <div class="col-1 col-md-2 float-left">
          <i class="fa fa-dashboard purple-text fa-2x"></i>
        </div>
        <div class="col-10 col-md-9 col-lg-10 float-right">
          <h4 class="font-weight-bold">Drill Down Feature</h4>
          <p class="grey-text">
            Admins have the feature to access the overall data. They can drill down into the data based on the provinces and/or districts
            and have information at a specific and concrete level.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="img1">
        </div>
      </div>
      <div class="col-md-6">
        <div class="img2"></div>
      </div>
    </div>



  </section>


<footer class="page-footer font-small stylish-color-dark pt-4 mt-4">
  <div class="container text-center text-md-left">
    <div class="row">
      <div class="col-md-6">
        <div class="widget widget_text">
          <b><h4 class="widget-title">Location</h4></b>
          <div class="textwidget">
            <p>
              Asian Institute of Technology
              <br>School of Engineeering and Technology
              <br>P.o. Box 4, Klong Luang,
              <br>Pathumthani 12120,Thailand
            </p>
          </div>
        </div>
      </div>


    </div>
  </div>
</footer>



