<div class="card">
  <div class="row no-gutters">
    <div class="col-md-6">
      <div class="card-block">
        <h3 class="card-title">E-HealthCare Dashboard</h3>
        <p class="card-text">Centralized web application to improve the health quality of patient care. Patients and doctors can visualize the health as charts. Admin and Nurse can create every user</p>
      </div>
        </div>
    <div class="col-md-6">
      <div class="card-img-bottom">
      </div>
    </div>
  </div>
</div>

  <!--Section: Features v.2-->
  <section class="text-center">

    <!--Section heading-->
    <h1 class="py-5 font-weight-bold">Why is it so great?</h1>
    <!--Section description-->
    <p class="px-5 mb-5 pb-3 lead grey-text">Monitor your health yourself.</p>

    <!--Grid row-->
    <div class="row text-left">

      <!--Grid column-->
      <div class="col-md-4 mb-4">
        <div class="col-1 col-md-2 float-left">
          <i class="fa fa-bullhorn blue-text fa-2x"></i>
        </div>
        <div class="col-10 col-md-9 col-lg-10 float-right">
          <h4 class="font-weight-bold">Visualization</h4>
          <p class="grey-text">The health status can be seen in the form of charts. The charts are
            different for different category of users users like for doctor, admin, nurse and patients. </p>
        </div>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-md-4 mb-4">
        <div class="col-1 col-md-2 float-left">
          <i class="fa fa-cogs pink-text fa-2x"></i>
        </div>
        <div class="col-10 col-md-9 col-lg-10 float-right">
          <h4 class="font-weight-bold">Customization</h4>
          <p class="grey-text">The profile of the user can be customized on the basis of what they want to see in their profile page that means the types of charts.</p>
        </div>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-md-4 mb-4">
        <div class="col-1 col-md-2 float-left">
          <i class="fa fa-dashboard purple-text fa-2x"></i>
        </div>
        <div class="col-10 col-md-9 col-lg-10 float-right">
          <h4 class="font-weight-bold">Hierarchical Structure</h4>
          <p class="grey-text">The patient can be visualized in the hierarchical structure. The hierarchical structure is based on the province and districts.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="img1">
        </div>
      </div>
      <div class="col-md-6">
        <div class="img2"></div>
      </div>
    </div>



  </section>


<footer class="page-footer font-small stylish-color-dark pt-4 mt-4">
  <div class="container text-center text-md-left">
    <div class="row">
      <div class="col-md-6">
        <div class="widget widget_text">
          <b><h4 class="widget-title">Location</h4></b>
          <div class="textwidget">
            <p>
              Asian Institute of Technology
              <br>School of Engineeering and Technology
              <br>P.o. Box 4, Klong Luang,
              <br>Pathumthani 12120,Thailand
            </p>
          </div>
        </div>
      </div>


    </div>
  </div>
</footer>



