<section>
  <div class="container">
    <div class="card">
      <div class="row">
        <div class="col-md-6">
          <div class="card-block">
            <h3 class="card-title">E-HealthCare</h3>
            <p class="card-text"> Healthcare Dashboard is a centralized web application for healthcare which helps to improve the quality of patient care.
              The system is a platform where patients and healthcare professionals can visualize healthcare data in various ways.
              Doctors can visualize patients’ health history.
              Patients can check their health status and review it from time to time and also visualize their medical data.
              Admins can manage accounts of patients and doctors.</p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card-img-bottom">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



