.jumbotron {
  background: aquamarine;
}

.jumbotron {
  background-image:url('hc.jpg');
  height:300px;
  background-repeat: no-repeat;
  background-size: auto 100%;
  border-bottom:1px solid #ff6a00
}

.card-img-bottom {
  color: #fff;
  height: 20rem;
  background: url('Tumore_testicolo_post_terapia.jpg') center no-repeat;
  background-size: cover;
}
